.container {
    background: lightgray;

    border-radius: 5px;
    border: 1px solid black;

    padding: 15px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    max-width: 800px;
    line-height: 1;
}

header {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.main-section {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

h1:first-child {
    margin-top: 0;
}

h1, h2, h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.flex-container {
    display: flex;
}

.flex-item-1 {
    flex-grow: 2;
}

.flex-item-2 {
    flex-grow: 2;
}

.flex-item-3 {
    flex-grow: 1;
}

@media only screen and (max-width: 500px) {
    nav a {
        display: block;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-item-1, .flex-item-2, .flex-item-3 {
        flex-grow: 1;
    }
}

.week {
    color: red;
}

.ok {
    color: orange;
}

.strong {
    color: green;
}

#outputStrength, #outputLength {
    font-style: italic;
}